.container{
	position: relative;
}
.searchInput {
	background-color: white;
	 /* position: relative;  */
    width: 150px;
    height: 20px;
    border: 2px solid black;

	
}
.SearchIcon {
	background-color: red;
	position: absolute;
	/* right: 0; */
   bottom: 3px;
   right: 142px;
   width: 20px;
   height: 20px;
    /* border: 3px solid #73AD21; */
}
.button{
	height: 26px;
	border: 2px solid black;
	width: 55px;
}


.hitsItem{
	list-style: none;
    font-family: sans-serif;
	font-size:  10px;
	background-color: pink;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	overflow: hidden;
	overflow-y: auto;
	text-align: left;
}
.searchIcon svg {
	font-size: 25px;
}
input:focus {
	outline: none;
}
.hitsResult::-webkit-scrollbar {
	display: none;
}
